.main_div{
    display: flex;
}
.block {
    margin: 1px;
}
.block:hover {
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 7px black;
}
.date {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    background: cyan;
}
.temp {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 2em;
}
