body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    padding-bottom: 40px;
}
.counter{
    position: sticky;
    top: 5%;
    width: 100%;
}
.counter_text {
    background: red;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    right: 0;
}