table {
    border: 1px solid black;
}
img {
    width: 120px;
    height: 120px;
    border-radius: 25px;
}
td {
    text-align: center;
}
#top {
    color: white;
    background-color: black;
}
#Soul {
    background-color: orange;
}
#Time {
    background-color: green;
}
#Space {
    background-color: blue;
}
#Mind {
    background-color: yellow;
}
#Reality {
    background-color: red;
}
#Power {
    background-color: rgb(123, 91, 197);
}
